:root {
    --color-dark: rgb(54, 54, 148);
    --color-darker: rgb(26, 26, 75);
    --color-light: rgb(255, 255, 255);;
}
*{
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: inherit;
    /* font-size: 1rem; */
}
ul{
    list-style: none;
}
body{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
}
button{
    padding: 5px;
    width: 100px;
    height: 30px;
    background-color: rgb(8, 107, 8);
    border: none;
    font-size: 1rem;
    text-transform: uppercase;
    color: white;
}
input{
    font-size: 1rem;
    width: 90%;
    height: 15%;
}
textarea{
    font-size: 1rem;
}
input::placeholder{
    font-size: 1rem;
}
img{
    color: red;
}
header{
    position: fixed;
    top: 0;
    color: whitesmoke;
    height: 50px;
    width: 100%;
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-dark);
    text-transform: uppercase;
}
.brand-name{
    padding: 10px;
    /* border-radius: 12px; */
    border-right: 2px solid white;
}
.nav-toggle{
    height: 50px;
    width: 45px;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}
.nav-toggle .bar1,.bar2,.bar3{
    margin: 1px;
    width: 100%;
    height: 5px;
    background-color: white;
}
.header-navbar{
    height: 100%;
    width: 70%;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.top-navbar>a{
    padding: 10px;
}
.current{
    border-bottom: 1px solid blue;
}
main{
    /* margin-top: 50px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    /* background-color: palegreen; */
}
.content-container{
    height: 100vh;
    width: 100%;
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro-container{
    background-image: url(./intro-img.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.content-intro{
    background-color: rgba(255, 255, 255, 0.287);
    width: 80%;
    height: 50%;
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Odibee Sans', cursive;
}
.intro-text{
    width: 90%;
    height: 90%;
    font-size: 2.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer{
    color: var(--color-light);
    padding: 10px;
    width: 100%;
    height: 100%;
    background-color: var(--color-darker);
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    justify-content: space-evenly;
    align-items: center;
}
.footer-navbar{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.legal{
    text-align: center;
    width: 100%;
    font-size: .7rem;
}